# Ignore node_modules as it will be installed during Docker build
node_modules
# Ignore logs
# logs
# Ignore environment variables (if using .env)
# .env
# Ignore Dockerfile, docker-compose.yml, or other config files
Dockerfile
docker-compose.yml
# Ignore test folders
tests/
# Ignore git files
.git
.gitignore
